  /* Base styles for the body */
@font-face
        {
        font-family:'NotoNastaliqUrdu-Regular';
        src:url('NotoNastaliqUrdu-Regular.woff')
        format('woff');
        font-weight:normal;
        font-style:normal;
        }     
 body {
            font-family:NotoNastaliqUrdu-Regular,san-serif;
            direction: rtl;
            text-align: center;
            background-color: #f8f9fa;
            padding: 20px;
        }
        #game-container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
        }
        #question {
            font-size: 1.5em;
            margin-bottom: 20px;
            color: #007bff;
            font-weight: bold;
        }
        #crossword {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            gap: 10px;
            justify-content: center;
            margin-bottom: 20px;
        }
        .droppable {
            width: 50px;
            height: 50px;
            border: 2px dashed #007bff;
            text-align: center;
            vertical-align: middle;
            font-size: 1.5em;
            line-height: 50px;
            background-color: #e9ecef;
            border-radius: 5px;
        }
        #letters {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        .letter {
            display: inline-block;
            margin: 5px;
            padding: 10px 15px;
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
            background-color: #007bff;
            border-radius: 5px;
            cursor: pointer;
        }
        .letter:hover {
            background-color: #0056b3;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 1.2em;
            font-weight: bold;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
        #score {
            font-size: 1.2em;
            margin-top: 20px;
            color: #6c757d;
        }
