body {
    margin: 0;
    font-family:'Arial', serif;
    background-color: #f4f4f4;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#game-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    width: 90%;
    text-align: center;
}

.header h1 {
    color: #333;
    margin: 0;
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 2px solid #4CAF50;
}

#image-container {
    margin-top: 20px;
    height: 250px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

#questionImage {
    max-height: 100%;
    max-width: 100%;
}

#congratulations-message {
    position: absolute;
    font-size: 20px;
    color: #4CAF50;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

#crossword {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
}

.droppable {
    width: 500px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #e3e3e3;
    border-radius: 5px;
}

#letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.letter {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.letter:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #45a049;
}

#score {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

